html {
    background-color: rgb(0, 0, 0);
    font-size: clamp(1rem,2vw,1.8rem);
}
body {
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:60vh;
    margin:0;
}

.header {
    width:100vw;
    height:auto;
    text-align: center;
}

.page-content {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 18rem;
    width:90%;
    height:auto;
    background-color: rgba(45,45,45,0.4); 
    border:solid 2px black;
    border-radius: 0.8rem;
}

.converter-box {
    width:95%;
    padding: 0.6rem 0.6rem 0 0.6rem;
    height:auto;
    width:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
}

.selectOption1 {
    grid-column: 1;
    grid-row:1;
    margin-top:0.5rem;
    max-height:2.5rem;
    border-radius: 0.6rem;
    background-color: white;
    color:black;
    opacity: 0.9;
    transition:0.15s;
}
.in-between {
    grid-column: 2;
    grid-row:1;
    margin-top: 1rem;

    text-align: center ;
    color: white;
    font-weight: 700;
}
.selectOption2 {
    grid-column: 3;
    grid-row:1;
    margin-top:0.5rem;
    max-height:2.5rem;
    border-radius: 0.6rem;
    background-color: white;
    color:black;
    opacity: 0.9;
    transition:0.15s;
}


.inputValue {
    grid-column: 1 / span 3;
    grid-row:2;
    height:2.2rem;
    padding:0.4rem 0 0.4rem 0;
    border-radius: 0.6rem;
    background-color: white;
    color:black;
    opacity: 0.9;
    transition:0.15s;
}
.inputValue:hover {
    cursor:text;
    scale: 1.01;
    opacity: 1;
}


.convert {
    grid-column: 1 / span 3;
    grid-row:3;
    height:2.2rem;
    margin: 0.6rem 0 0.4rem 0;
    padding:0.6rem 0 0.6rem 0;
    border-radius: 0.6rem;
    background-color: blueviolet;
    color:white;
    opacity: 0.9;
    transition:0.15s;
}
.convert:hover {
    cursor:pointer;
    scale: 1.01;
    opacity: 1;
}

.selectOption1:hover {
    cursor:pointer;
    scale: 1.01;
    opacity: 1;
}
.selectOption2:hover {
    cursor:pointer;
    scale: 1.01;
    opacity: 1;
}

#result {
    grid-column: 1 / span 3;
    grid-row:4;
    height:2.2rem;
    margin: 0.6rem 0.4rem 0.6rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    margin-top: 1rem;
    margin-bottom:0.4rem;

}
    #result,.selectOption1, .selectOption2, .page-content, .inputValue,.in-between,.header,.converter-box,.convert {
        height:auto;
        font-size: 1rem;
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
    }


